@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.about-wrap {
  padding: $spacing-xxl $spacing-lg;
  background-color: $color-light-gray;
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  position: relative;
  z-index: 10;
  margin-top: -$spacing-lg;
  text-align: center;

  .title-box {
    margin-bottom: $spacing-lg;
  }

  // .title-box {
  //   @include flex-between;
  //   gap: $spacing-xl;

  //   @include laptop {
  //     flex-direction: column;
  //     align-items: flex-start;
  //     gap: $spacing-sm;

  //     .contact-links {
  //       font-size: $font-size-xs;
  //     }
  //   }
  // }
  @include laptop {
    padding: $spacing-xl $spacing-md;
  }
  @include laptop {
    padding: $spacing-lg $spacing-md;
  }
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-lg;
  .info-stats {
    > dt {
      @include sr-only;
    }

    > dd {
      display: flex;
      align-items: center;
      gap: $spacing-lg;

      .stat-item {
        display: flex;
        align-items: flex-end;
        gap: $spacing-sm;

        .stat-number {
          display: block;
          // font-size: clamp(3.5rem, 5vw, 4rem);
          font-size: 4rem;
          // font-weight: $font-weight-bold;
          // font-family: $font-display;
          font-weight: $font-weight-bold;
          line-height: 1;
          // font-family: $font-display-bold;
        }

        .stat-label {
          display: block;
          // font-size: $font-size-md;
          // color: $color-black;
          line-height: $line-height-tight;
        }
      }
    }
    @include laptop {
      > dd {
        gap: $spacing-sm;
        .stat-item {
          gap: $spacing-sm;

          .stat-number {
            font-size: $font-size-xl;
          }
        }
      }
    }
    @include tablet {
      > dd {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .info-text {
    max-width: 80vw;
    font-size: clamp(1.6rem, 1.6vw, 1.5rem);
    color: #555;

    strong {
      @include highlight();
      // font-weight: $font-weight-semibold;
    }

    @include laptop {
      padding: $spacing-lg 0;
    }
  }
  @include laptop {
    margin-top: $spacing-lg;
  }
  @include tablet {
    margin-top: $spacing-md;
    gap: $spacing-md;
  }
  .info-skills {
    > dt {
      @include sr-only;
    }

    .skills-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 1.2rem;
      justify-content: flex-end;

      .skill-tag {
        display: inline-block;
        background-color: transparent;
        letter-spacing: 0.1rem;
        color: $color-white;
        font-style: italic;
        background-color: $color-black;
        padding: $spacing-xs $spacing-md;
        border-radius: $border-radius-lg;
        // letter-spacing: 0.2rem;
        // border-bottom: 0.1rem solid $color-black;
        // color: $color-black;
        // font-size: $font-size-md;
        // padding: 0.8rem 1.6rem;
        // border-radius: 4rem;
        // border: 0.1rem solid $color-black;
        transition:
          background-color $transition-fast,
          color $transition-fast;

        &:hover {
          background: $color-black;
          color: $color-white;
        }

        &::before {
          content: '#';
          display: inline-block;
          font-weight: $font-weight-bold;
          margin-right: 0.2rem;
        }
      }
    }

    @include tablet {
      dd {
        .stat-item {
          grid-template-columns: repeat(1, 1fr);
          gap: 1.5rem;
          .skills-tags {
            .skill-tag {
              padding: 0.6rem 1.2rem;
            }
          }
        }
      }
      @include laptop {
        .skills-tags {
          gap: $spacing-sm;
          .skill-tag {
            padding: 0.8rem 1.6rem;
            font-size: $font-size-sm;
            &:hover {
              background: $color-white;
              color: $color-black;
            }
          }
        }
      }
    }
  }
}
.contact-links {
  margin-top: $spacing-xl;
  color: $color-black;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  letter-spacing: 0.2rem;
  border-bottom: 0.3rem solid $color-black;
  // margin-bottom: $spacing-lg;
  transition:
    color $transition-fast,
    border-color $transition-fast;

  > a {
    // border-bottom: 0.1rem solid $color-black;
    width: fit-content;

    &:hover {
      border-color: $color-dark-gray;
    }
  }
}
// // Animations
// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }

// @keyframes blink {
//   50% {
//     opacity: 0;
//   }
// }
