@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Contact Section
.contact-wrap {
  padding: $spacing-sm;
  @include flex-between;

  .main-title {
  }

  .contact-box {
    padding: $spacing-lg $spacing-md;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-sm;
    padding: $spacing-md;

    @include tablet {
      gap: 0;
      row-gap: $spacing-sm;
    }

    dt {
      font-size: $font-size-sm;
      box-sizing: border-box;

      @include tablet {
        width: $spacing-xxl;
      }

      @include mobile {
        width: $spacing-xl;
        font-size: $font-size-xs;
      }
    }

    dd {
      font-size: $font-size-sm;

      @include tablet {
        width: calc(100% - $spacing-xxl);
      }

      @include mobile {
        width: calc(100% - $spacing-xl);
        font-size: $font-size-xs;
      }
    }
  }
}
