@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.portfolio-wrap {
  padding: $spacing-xxl $spacing-lg;
  background-color: $color-primary;
  border-radius: $border-radius-lg $border-radius-lg 0 0;
  position: relative;
  z-index: 10;

  > ul {
    display: flex;
    flex-direction: column;
  }
  @include laptop {
    padding: $spacing-xl $spacing-md;
  }
  @include laptop {
    padding: $spacing-lg $spacing-md;
  }
}
.portfolio-box {
  display: flex;
  gap: $spacing-lg;
  padding: $spacing-md 0;
  word-break: keep-all;

  .img {
    flex: 0 0 60%;
    border-radius: $border-radius-lg;
    aspect-ratio: 1920 / 1080;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      &:after {
        background-color: $color-primary;
      }
    }
  }

  @include laptop {
    flex-direction: column;

    .img {
      flex: none;
      width: 100%;
    }
  }
}

.portfolio-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  padding: 4rem;
  row-gap: $spacing-lg;
  border-radius: $border-radius-lg;
  word-break: keep-all;

  .project-name {
    font-size: clamp(2.5rem, 4vw, 3rem);
    line-height: 1;
    word-break: break-all;
    font-weight: $font-weight-bold;
    // font-family: $font-display-bold;
    // -webkit-text-stroke: 1px $color-black;
  }

  .info-text {
    word-break: keep-all;
    font-size: $font-size-lg;

    > p {
      + p {
        margin-top: $spacing-sm;
      }
    }
    strong {
      font-weight: $font-weight-bold;
    }
  }

  .info-desc {
    display: grid;
    grid-template-columns: 8rem 1fr;
    row-gap: $spacing-xs;
    dt {
      font-weight: $font-weight-bold;
    }
    dd {
      margin: 0;
    }
  }

  @include laptop {
    row-gap: $spacing-md;
    .project-name {
      line-height: $line-height-normal;
    }
  }
  @include tablet {
    padding: 3rem;
    border-radius: $border-radius-md;
    .info-text {
      font-size: $font-size-md;
    }
    .info-desc {
      font-size: $font-size-sm;
      grid-template-columns: 6rem 1fr;
    }
  }
}
