@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.visual-wrap {
  position: relative;
  overflow: hidden;
  background: $color-primary;
  color: $color-text;
  width: 100%;

  .visual-logo {
    font-family: ClimateCrisisKR-1979;
    line-height: 0.82;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 1rem 1.2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .l-park {
      font-size: clamp(4rem, 13vw, 18rem);
      color: $color-text;
      display: block;
      letter-spacing: -0.04em;
    }

    .l-mina {
      font-size: clamp(4rem, 13vw, 18rem);
      display: block;
      letter-spacing: -0.04em;
      transition:
        color 0.25s ease,
        opacity 0.25s ease;

      &:hover {
        color: $color-text;
        opacity: 0.28;
        -webkit-text-stroke-color: transparent;
      }
    }

    @include laptop {
      .l-park,
      .l-mina {
        font-size: clamp(3rem, 6vw, 6rem);
      }
      .l-mina {
        -webkit-text-stroke-width: 1.5px;
      }
    }

    @include tablet {
      .l-park,
      .l-mina {
        font-size: clamp(2.4rem, 5vw, 4.5rem);
      }
      .l-mina {
        -webkit-text-stroke-width: 1.2px;
      }
    }

    @include mobile {
      .l-park,
      .l-mina {
        font-size: clamp(2rem, 12vw, 3.5rem);
      }
      .l-mina {
        -webkit-text-stroke-width: 1px;
      }
    }
  }

  .visual-caption {
    font-family: $font-medium;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 2rem 3rem;
    word-break: keep-all;
    position: relative;
    z-index: 2;
    min-height: 100vh;
    pointer-events: none;

    p {
      font-size: $font-size-lg;
      line-height: $line-height-normal;
      pointer-events: auto;
    }

    @include laptop {
      p {
        font-size: $font-size-base;
      }
    }

    @include tablet {
      padding: 4rem 2rem 2rem;
      p {
        font-size: $font-size-xs;
      }
    }

    @include mobile {
      padding: 3rem 1.5rem 2rem;
    }
  }
}

.floating-shapes {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  .shape {
    position: absolute;
    backdrop-filter: blur(14px) contrast(0.85);
    box-shadow:
      rgba(0, 0, 0, 0.15) 0px 0px 25px inset,
      rgba(0, 0, 0, 0.08) 0px 0px 60px inset,
      rgba(0, 0, 0, 0.25) 0px 20px 60px,
      rgba(0, 0, 0, 0.07) 0px 0px 40px;
    //mix-blend-mode: screen;
    //will-change: transform;
    border-radius: 50%;
    background:
      radial-gradient(
        circle at 30% 30%,
        rgba(0, 0, 0, 0.15),
        rgba(1, 1, 1, 0.05) 40%,
        rgba(0, 0, 0, 0.02) 60%,
        transparent 70%
      ),
      rgba(255, 255, 255, 0.03);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-image: initial;

    &.shape-1 {
      width: 40rem;
      height: 40rem;
      bottom: -5%;
      right: -2%;
      border-radius: 50% 60% 40% 70%;
      animation:
        float 4s ease-in-out infinite,
        radius1 2s ease-in-out infinite;
    }

    &.shape-2 {
      width: 40rem;
      height: 40rem;
      top: -13%;
      left: -2%;
      border-radius: 50% 60% 60% 40%;
      animation:
        float 4s ease-in-out infinite,
        radius2 2s ease-in-out infinite;
    }

    &.shape-3 {
      width: 22rem;
      height: 22rem;
      bottom: 15%;
      right: 31%;
      border-radius: 60% 70% 50% 90%;
      animation:
        float 46s ease-in-out infinite,
        radius3 3s ease-in-out infinite;
    }

    @include laptop {
      &.shape-1 {
        width: 25rem;
        height: 24rem;
        top: 20%;
        right: -4%;
      }
      &.shape-2 {
        width: 25rem;
        height: 22rem;
        top: -10%;
        left: -2%;
      }
      &.shape-3 {
        width: 13rem;
        height: 13rem;
        top: 10%;
      }
    }

    @include tablet {
      &.shape-1 {
        width: 17rem;
        height: 16rem;
        top: 25%;
      }
      &.shape-2 {
        width: 17rem;
        height: 16rem;
      }
      &.shape-3 {
        width: 8rem;
        height: 7rem;
      }
    }

    @include mobile {
      backdrop-filter: none;
      &.shape-1 {
        top: 28%;
        right: -2%;
      }
      &.shape-2 {
        width: 14rem;
        top: -4%;
        left: -5%;
      }
      &.shape-3 {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 15%;
      left: 20%;
      width: 40%;
      height: 25%;
      filter: blur(10px);
      opacity: 0.7;
      border-radius: 50%;
      background: radial-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.2) 60%,
        transparent 70%
      );
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes radius1 {
  0% {
    border-radius: 50% 60% 40% 70%;
  }
  50% {
    border-radius: 60% 60% 30% 60%;
  }
  100% {
    border-radius: 50% 60% 40% 70%;
  }
}
@keyframes radius2 {
  0% {
    border-radius: 50% 60% 60% 40%;
  }
  50% {
    border-radius: 30% 70% 50%;
  }
  100% {
    border-radius: 50% 60% 60% 40%;
  }
}
@keyframes radius3 {
  0% {
    border-radius: 60% 70% 50% 90%;
  }
  50% {
    border-radius: 50% 60% 65% 65%;
  }
  100% {
    border-radius: 60% 70% 50% 90%;
  }
}

@include tablet {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
