@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Visual Section
.visual-wrap {
  position: relative;
  overflow: hidden;
  background: $color-primary;
  color: #333;
  width: 100%;

  .floating-shapes {
    position: absolute;
    inset: 0;
    z-index: 5;
    pointer-events: none;

    .shape {
      position: absolute;
      border-radius: 50%;
      backdrop-filter: blur(14px) contrast(0.85);
      -webkit-backdrop-filter: blur(14px) contrast(0.85);
      background:
        radial-gradient(
          circle at 30% 30%,
          rgb(0 0 0 / 15%),
          rgb(1 1 1 / 5%) 40%,
          rgb(0 0 0 / 2%) 60%,
          transparent 70%
        ),
        #ffffff08;
      border: 1px solid rgb(0 0 0 / 12%);
      box-shadow:
        inset 0 0 25px #00000026,
        inset 0 0 60px #00000014,
        0 20px 60px #00000040,
        0 0 40px #00000012;
      mix-blend-mode: screen;
      will-change: transform;

      &.shape-1 {
        width: 15rem;
        height: 15rem;
        top: 3%;
        right: 3%;
        border-radius: 30% 60% 40% 70%;
        animation:
          float,
          radius 2s ease-in-out infinite;
      }

      &.shape-2 {
        width: 20rem;
        height: 15rem;
        top: 7%;
        left: 1%;
        border-radius: 50% 60% 60% 40%;
      }

      &.shape-3 {
        width: 20rem;
        height: 20rem;
        top: 32%;
        right: 40%;
        border-radius: 60% 70% 50% 90%;
      }

      @include mobile {
        &.shape-1 {
          width: 10rem;
          height: 10rem;
        }

        &.shape-2 {
          width: 20rem;
          height: 20rem;
          animation: float 4s ease-in-out infinite;
        }

        &.shape-3 {
          width: 15rem;
          height: 15rem;
          animation: float 6s ease-in-out infinite;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 15%;
        left: 20%;
        width: 40%;
        height: 25%;
        border-radius: 50%;

        background: radial-gradient(
          ellipse,
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.2) 60%,
          transparent 70%
        );
        filter: blur(10px);
        opacity: 0.7;
      }
    }
  }

  .visual-logo {
    font-family: $font-display;
    font-size: clamp(12.5rem, calc(-0.67rem + 12.849vw), 24rem);
    text-align: center;
    padding: clamp(2rem, 4vw, 3rem) 0;
    position: relative;
    z-index: 1;

    @include laptop {
      font-size: clamp(3.55rem, calc(-0.52rem + 12.71vw), 12.5rem);
    }
  }

  .visual-caption {
    font-family: $font-medium;
    @include flex-between;
    gap: $spacing-md;
    padding: $spacing-md;
    word-break: keep-all;
    position: relative;
    z-index: 1;

    p {
      font-size: $font-size-sm;
      line-height: $line-height-normal;
    }

    @include laptop {
      p {
        font-size: $font-size-base;
      }
    }

    @include tablet {
      flex-wrap: wrap;
      padding: 0 2rem 2rem;

      p {
        font-size: $font-size-xs;
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes radius {
  0% {
    border-radius: 30% 60% 40% 70%;
  }
  50% {
    border-radius: 30% 70% 30% 80%;
  }
  100% {
    border-radius: 30% 60% 40% 70%;
  }
}
