@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Cursor Component
.cursor {
  position: fixed;
  width: 4rem;
  height: 4rem;
  margin-left: -2rem;
  margin-top: -2rem;
  border-radius: $border-radius-circle;
  border: 0.2rem solid $color-bg;
  @include smooth-transition(transform);
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;

  &.black {
    border-color: $color-accent;
    background: rgba(0, 0, 0, 0.8);
  }

  @include tablet {
    display: none;
  }
}

.grow,
.grow-small {
  transform: scale(7);
  background: $color-bg;
  mix-blend-mode: difference;
  border: none;

  @include tablet {
    transform: scale(3);
  }
}

.grow-small {
  transform: scale(3);
}
