// color
$color-primary: #ffe36d;
$color-white: #fff;
$color-dark-gray: #888;
$color-light-gray: #eee;
$color-black: #333;

// font
$font-base:
  'IntelOneMono',
  'NanumGothicCoding',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Roboto',
  sans-serif;
$font-display: 'ClimateCrisisKoreanBold';
$font-display-bold: 'ClimateCrisisKoreanBold';

$font-sizes: (
  xxlarge: 2.2rem,
  xlarge: 2rem,
  large: 1.8em,
  medium: 1.6rem,
  small: 1.4rem,
  xsmall: 1.2rem
);

// line height
$line-height-tight: 1.5;
$line-height-normal: 1.8;
$line-height-loose: 2;

// font weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xl: 5rem;
$spacing-xxl: 10rem;

// breakpoint
$breakpoint-mobile: 478px;
$breakpoint-tablet: 640px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1450px;

// border radius
$border-radius-sm: 0.5rem;
$border-radius-md: 3rem;
$border-radius-lg: 5rem;
$border-radius-circle: 50%;

// effects
$transition-fast: 0.2s;
$transition-normal: 0.3s;
$transition-slow: 0.5s;
