@font-face {
  font-family: 'ClimateCrisisKoreanMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2000.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'ClimateCrisisKoreanBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2')
    format('woff2');
  font-weight: bold;
  font-display: swap;
}
// @font-face {
//   font-family: 'GmarketSans';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
//     format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'GmarketSans';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
//     format('woff');
//   font-weight: 300;
//   font-style: 300;
// }
// @font-face {
//   font-family: 'GmarketSans';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff')
//     format('woff');
//   font-weight: 400;
//   font-style: 700;
// }
// @font-face {
//   font-family: 'GodoRounded';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/godoRoundedL.woff2')
//     format('woff2');
//   font-weight: 300;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'GodoRounded';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2409-1@1.0/godoRoundedR.woff2')
//     format('woff2');
//   font-weight: 400;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'SchoolSafeUniverse';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2')
//     format('woff2');
//   font-weight: normal;
//   font-display: swap;
// }
@font-face {
  font-family: 'IntelOneMono';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'IntelOneMono';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'IntelOneMono';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'IntelOneMono';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

// @font-face {
//   font-family: 'D2Coding';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff')
//     format('woff');
//   font-weight: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: 'NixgonFont';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff')
//     format('woff');
//   font-weight: 300;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'NixgonFont';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff')
//     format('woff');
//   font-weight: 500;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'NixgonFont';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONB-Vb.woff')
//     format('woff');
//   font-weight: 700;
//   font-display: swap;
// }
// }
// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2')
//     format('woff2');
//   font-weight: 100;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2')
//     format('woff2');
//   font-weight: 200;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2')
//     format('woff2');
//   font-weight: 300;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2')
//     format('woff2');
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2')
//     format('woff2');
//   font-weight: 500;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2')
//     format('woff2');
//   font-weight: 600;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2')
//     format('woff2');
//   font-weight: 700;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2')
//     format('woff2');
//   font-weight: 800;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Paperozi';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2')
//     format('woff2');
//   font-weight: 900;
//   font-display: swap;
// }
